/* ==========================================================================
   Boilerplate CSS file for utility classes
   ========================================================================== */


/* ==========================================================================
   Utilities (margin helpers, text alignment)
   ========================================================================== */
/* #region */
.u-text-center {
    text-align: center;
}

.u-mb-none {
    margin-bottom: 0;
}

.u-mt-lg {
    margin-top: var(--spacing-lg);
}

/* #endregion */